.nutrition {
  padding: 3rem;
  margin: 0 0 3rem;
  @include breakpoint(mobile_both) {
    padding: 1.5rem;
    margin: 0;
  }

  &__list {
    padding: 1rem 2rem;
  }

  &__item {
    width: 100%;
    padding: 1rem 0;
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:last-child {
      border: 0;
    }

    span {
      display: block;
    }
  }
}

.builder {
  &__item {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 0 8rem;
    margin: 0;
    // overflow-y: scroll;
  }

  &__content {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }

  &__image {
    height: 24rem;
  }

  &__info {
    padding: 3rem;
    @include breakpoint(mobile_both) {
      padding: 1.5rem;
    }
  }

  &__details {
    display: flex;
    align-items: baseline;
    margin: 0.5rem 0 1.5rem;
    flex-wrap: wrap;

    span {
      display: block;
      padding: 0.5rem 0;
      margin: 0 2rem 0 0;
      &:last-child {
        margin: 0;
      }
    }
  }

  &__desc {
    line-height: 1.3;
  }

  &__nutrition {
    margin-top: 1.5rem;
  }

  &__body {
    padding: 0 3rem;
    @include breakpoint(mobile_both) {
      padding: 1.5rem 1.5rem 0;
    }

    // > div {
    //   margin-top: 2.5rem;
    //   &:first-child {
    //     margin-top: 0;
    //   }
    // }
  }

  &__footer {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8rem;
    @include breakpoint(mobile) {
      height: 12.5rem;
    }

    &__container {
      width: 100%;
      height: 8rem;
      padding: 0 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include breakpoint(mobile_both) {
        padding: 0 1.5rem;
        height: 7rem;
        // flex-direction: column;
        // align-items: flex-start;
        // justify-content: center;
      }
    }

    &__cancel {
      width: 100%;
      height: 5.5rem;
      padding: 0 3rem;
      // display: flex;
      justify-content: center;
      align-items: flex-start;
      display: none;
      @include breakpoint(mobile_both) {
        display: flex;
        padding: 0 1.5rem;
      }

      &__button {
        padding: 0;
      }
    }
  }

  &__price {
    @include breakpoint(mobile) {
      // margin-bottom: 1rem;
      width: 8rem;
    }

    span {
      display: inline-block;
    }

    span {
      @include breakpoint(mobile) {
        width: 100%;
        font-size: 1.6rem;
      }
    }

    span + span {
      font-weight: normal;
      margin: 0 0 0 2rem;
      @include breakpoint(mobile) {
        margin: 0.25rem 0 0;
        font-size: 1.4rem;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    @include breakpoint(mobile) {
      flex-grow: 1;
    }
  }

  &__quantity {
    display: inline-block;
  }

  &__submit {
    display: inline-block;
    margin: 0 0 0 1rem;
    @include breakpoint(mobile) {
      flex-grow: 1;
      button {
        width: 100%;
      }
    }
  }

  &__group {
    margin: 0 0 3rem;
  }

  &__group__header {
    display: flex;
    margin: 0 0 1rem;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__group__name {
    margin-bottom: 0.5rem;
  }

  &__group__quantity {
    min-width: 9.2rem;
    padding: 0 1rem;
    border-width: 0.1rem;
    border-style: solid;
  }

  &__group__warning {
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      display: block;
    }

    span + span {
      margin-left: 0.7rem;
    }
  }

  &__group__alert {
    width: 2rem;
    height: 2rem;
    margin: 0 0 0 0.3rem;
    line-height: 2rem;
    border-radius: 1rem;
    text-align: center;
  }

  &__options {
    width: 100%;
    // padding: 1rem 2rem;
  }

  &__radio {
    display: block;
    width: 9.2rem;
    min-width: 9.2rem;
    text-align: center;
  }

  &__option {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;

    &:last-child {
      border: 0;
    }
  }

  &__option__image {
    position: relative;
    width: 6rem;
    min-width: 6rem;
    height: 6rem;
  }

  &__option__overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__message {
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &__option__alert {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 1.2rem;
    padding: 0.3rem 0.2rem 0.4rem;
    border: 0.1rem solid #fff;
  }

  &__option__info {
    display: block;
    flex-grow: 1;
    padding: 0 1.75rem;
    line-height: 1.3;

    > span {
      display: block;
    }

    > span.builder__option__desc {
      @include breakpoint(mobile_both) {
        display: none;
      }
    }
  }

  &__option__desc {
    margin-top: 0.2rem;
  }

  &__option__details {
    margin-top: 0.6rem;

    &__container {
      display: flex;
      align-items: flex-end;
      @include breakpoint(mobile) {
        flex-wrap: wrap;
      }

      span {
        display: block;
      }

      span + span {
        padding-left: 2rem;
      }

      span + span.builder__option__details__allergens,
      span + span.builder__option__details__tags {
        @include breakpoint(mobile) {
          width: 100%;
          flex-shrink: 0;
          padding: 0.5rem 0 0;
        }
      }
    }
  }

  &__made-for,
  &__notes {
    width: 100%;
    padding: 0 0 1.5rem;
  }

  &__notes {
    span {
      display: block;
      margin-bottom: 0.8rem;
      line-height: 1;
    }
    textarea {
      height: 7.3rem;
      padding: 1rem 1.3rem;
      font-size: 1.2rem;
    }
  }

  &__made-for {
    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0;
      span {
        display: block;
      }
      input {
        display: block;
        width: 10rem;
        padding: 1rem 1.3rem;
        font-size: 1.2rem;
        text-align: center;
      }
    }
  }
}
