%filter-styles {
  padding: 1rem 1.1rem 0.8rem;
  outline: 0;
  border-radius: 0.5rem;
  // @extend %mono-font;
  font-size: 1.1rem;
  line-height: 1.1;
}

%warning {
  padding: 0.4rem 1rem 0.6rem;
  margin: -0.5rem 0;
  border-radius: 1.2rem;
  line-height: 1;
  font-weight: 300;
  text-transform: lowercase;
}

%warning-success {
  @extend %warning;
}

%warning-alert {
  @extend %warning;
}

.quantity {
  height: 3rem;
  @include breakpoint(mobile) {
    height: 2rem;
  }

  label {
    position: relative;
    top: -0.3rem;
    float: none;
    display: inline-block;
    width: 5rem;
    margin: 0 1rem;
    @include breakpoint(mobile) {
      width: 3rem;
      margin: 0 0.5rem;
    }
  }
  input[type='number'],
  input[type='text'] {
    @extend %filter-styles;
    text-align: center;
    padding: 0.1rem 0 0;
    height: 3rem;
    line-height: 1;
    @include breakpoint(mobile) {
      height: 2rem;
    }
  }
  button {
    padding: 0.2rem 0 0;
    width: 3rem;
    height: 3rem;
    padding: 0.7rem;
    &:disabled {
      opacity: 0.2;
    }
    @include breakpoint(mobile) {
      width: 1.8rem;
      height: 1.8rem;
      padding: 0.2rem;
      margin: 0.2rem 0 0;
    }
  }
}

.builder__group {
  margin: 0 0 2rem;
}

.builder__group__header {
  display: flex;
  margin: 0 0 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.builder__group__settings {
  position: relative;
}

.builder__group__warning.-min,
.builder__group__warning.-max {
  padding: 0.1rem 0.8rem 0.4rem;
  margin: 0 1rem 0 0;
  @include breakpoint(mobile) {
    position: absolute;
    top: -1.7rem;
    right: 0;
    margin: 0;
  }
}

.builder__group__warning.-min {
  @extend %warning;
}

.builder__group__warning.-max {
  @extend %warning-success;
}

.builder__options {
  label.radio {
    display: block;
    width: 100%;
    margin: 0 0 0.8rem;

    span.radio__desc {
      top: -0.6rem;
    }
  }
}

.builder__option {
  display: flex;
  width: 100%;
  margin: 0 0 0.8rem;
  align-items: center;
  @include breakpoint(mobile) {
    margin: 0 0 1.1rem;
  }
}

.builder__option__name {
  width: 46%;
}

.builder__option__quantity {
  width: 30%;
  text-align: right;

  .quantity {
    display: inline-block;
  }
}

.builder__option__price {
  width: 12%;
  text-align: right;
}

.builder__item.-preview {
  .builder__option__name {
    width: 80%;
  }
  .builder__option__price {
    width: 20%;
  }
}

.builder__quantity {
  display: flex;
  // width: 24rem;
  margin: 4rem 0 0rem;
  justify-content: space-between;
  align-items: center;
}

.builder__quantity__label {
  padding: 0 0 0.2rem;
}

.builder__notes {
  @include clearfix;
  textarea {
    height: 7.3rem;
    padding: 1rem 1.3rem;
    font-size: 1.2rem;
  }
}

.builder__submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.builder__made-for {
  width: 50%;
  label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
    input {
      width: 10rem;
      padding: 1rem 1.3rem;
      margin-left: 2rem;
      font-size: 1.2rem;
      text-align: center;
      // width: 42%;
      // @extend %filter-styles;
      // text-align: center;
      // padding: 0.1rem 0 0;
      // height: 3rem;
      // line-height: 1;
      // font-size: $font-size-small;
      // @include breakpoint(mobile) {
      //   height: 2rem;
      //   font-size: $font-size-x-small;
      // }
    }
  }
}
