.cards {
  width: 100%;
  padding: 2rem 2rem;

  &__list {
    display: block;
    // max-width: 40rem;
    margin: 0 auto;
  }

  &__card {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 1.5rem;
    margin-bottom: 1rem;

    &.-disabled {
      opacity: 0.5;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &__image {
      width: 6rem;
      min-width: 6rem;
      height: auto;
      img {
        fill: #000;
      }
    }

    &__name {
      flex-grow: 1;
      padding: 0 2rem;
      line-height: 1.3;
    }

    &__add {
      button {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
