.check {
  width: 100%;
  padding: 2rem 2.5rem;

  // &__items {
  //   padding: 1rem 2rem;
  // }

  &__title {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &__item {
    width: 100%;
    padding: 1rem 0 0.9rem;
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:last-child {
      border: 0;
    }

    span {
      display: block;
    }
  }
}
