.checkout {
  .loading {
    padding: 8rem 0;
    text-align: left;
  }

  &__header {
    position: fixed;
    z-index: 10;
    top: $nav-height;
    right: 0;
    width: $width;
    max-width: 100%;
    height: $nav-height;

    &__container {
      height: $nav-height;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__form {
    margin: 0 0 4rem;
  }

  &__check {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: $width;
    left: 0;
    overflow-y: scroll;
    @include breakpoint(mobile_both) {
      display: none;
      position: static;
      top: auto;
      bottom: auto;
      right: auto;
      left: auto;
      margin: 0 0 4rem;
    }

    &__wrapper {
      float: right;
      position: sticky;
      width: 100%;
      max-width: 60rem;
      padding: $padding;
      // display: flex;
      // justify-content: flex-start;
      @include breakpoint(mobile_both) {
        float: none;
        position: static;
        max-width: 100%;
        padding: 0;
        border-width: 0.1rem;
        border-style: solid;
      }
    }

    &__totals {
      padding: 1rem;
    }
  }
}

$width-tablet-land: 50%;
$width-tablet: 50%;

.main--checkout {
  @include breakpoint(tablet_land) {
    width: $width-tablet-land;
  }
  @include breakpoint(tablet) {
    width: $width-tablet;
  }

  .header {
    @include breakpoint(tablet_land) {
      width: $width-tablet-land;
    }
    @include breakpoint(tablet) {
      width: $width-tablet;
    }
  }

  .content {
    padding-top: 2 * $nav-height;
  }

  .background,
  .checkout__check {
    @include breakpoint(tablet_land) {
      right: $width-tablet-land;
    }
    @include breakpoint(tablet) {
      right: $width-tablet;
    }
  }
}
