$color: #000;
$color-light: #fff;
$color-disabled: #ccc;
$color-hover: #efefef;
$arrow-size: 0.8rem;

.react-datepicker {
  position: relative;
  width: 100%;
  display: inline-block;
  // color: $color;

  &__current-month {
    line-height: 1.8;
  }

  &__navigation {
    text-indent: -999em;
    overflow: hidden;
    background: none;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 10px;
    width: 0;
    height: 0;
    text-align: center;

    &--previous {
      margin-left: 1rem;
      border-top: $arrow-size solid transparent;
      border-bottom: $arrow-size solid transparent;
      border-right: $arrow-size solid $color;
    }

    &--next {
      right: 22.5%;
      margin-right: 1rem;
      border-top: $arrow-size solid transparent;
      border-bottom: $arrow-size solid transparent;
      border-left: $arrow-size solid $color;
    }
  }

  &__header {
    padding: 0.8rem 0 0;
    text-align: center;

    &--time {
      line-height: 1.8;
      padding: 0.8rem 0.5rem;
    }
  }

  &__month-container {
    float: left;
    width: 77.5%;
  }

  &__month {
    text-align: center;
  }

  &__week,
  &__day-names {
    white-space: nowrap;
  }

  &__day,
  &__day-name {
    cursor: pointer;
    display: inline-block;
    width: 14.28571%;
    padding: 0;
    margin: 0;
    line-height: 2.8;
    text-align: center;
  }

  &__day {
    color: $color;
    transition: all 0.15s ease;

    &:hover {
      background-color: $color-hover;
    }

    &--selected {
      background-color: $color;
      color: $color-light;
    }

    &--disabled {
      cursor: default;
      color: $color-disabled;
      opacity: 0.5;
    }

    &--disabled:hover {
      background-color: transparent !important;
    }

    &--outside-month {
      opacity: 0.5;
    }
  }

  &__day--today {
    background-color: $color-hover;
  }

  &__time-container {
    float: right;
    width: 22.5%;
    border-left: 0.1rem solid transparent;
  }

  &__time {
    position: relative;
  }

  &__time-box {
    overflow-x: hidden;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  &__time-list {
    cursor: pointer;
    box-sizing: content-box;
    overflow-y: scroll;
    width: 100%;
    height: calc(195px + (1.7rem / 2));
    margin: 0;
    list-style: none;
  }

  &__time-list-item {
    white-space: nowrap;
    padding: 0 1rem;
    line-height: 2.8;
    color: $color;

    &:hover {
      background-color: $color-hover;
    }

    &--disabled {
      display: none;
      cursor: default;
      color: $color-disabled;
      opacity: 0.5;
    }

    &--disabled:hover {
      background-color: transparent !important;
    }

    &--selected {
      background-color: $color;
      color: $color-light;
    }
  }
}
