.error-message {
  // display: block;
  max-width: 48rem;
  padding: 3rem;
  margin: 3rem auto;
  text-align: center;

  &__content {
    margin: 1rem 0 2rem;
  }
}

.error-page {
  &__body {
    p {
      margin: 0 0 4rem;
    }
  }
}
