.form {
  &__fieldset {
    margin: 0 0 4rem;
  }

  &__legend {
    margin: 0 0 2.25rem -0.1rem;

    &__subtitle {
      margin: 1rem 0 0;
      line-height: 1.5;
    }
  }

  &__inputs {
    width: 100%;
    // padding: 2rem 2.5rem 0.5rem;
    button + button {
      margin-left: 1rem;
    }
  }

  &__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;

    &.form__line__input {
      padding: 0.7rem 0;

      .form__line__value {
        flex-grow: 1;
        max-width: 24rem;
        margin: 0 0 0 4rem;
      }

      &.person-count .form__line__value {
        max-width: 10rem;
      }
    }

    &.form__line__textarea {
      padding: 0.7rem 0;
      align-items: flex-start;

      .form__line__value {
        flex-grow: 1;
        margin: 0 0 0 4rem;
      }
    }

    &:last-child {
      border-bottom-width: 0;
    }
  }

  &__line__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__line__label {
    // span {
    //   display: block;
    // }
    span + span {
      margin-top: 0.5rem;
      display: block;
    }
  }

  &__line__success {
    display: inline-block;
    margin: 0 0.9rem 0 0;
  }

  &__error {
    display: inline-block;
    width: 100%;
    margin-bottom: 2rem;
  }

  &__input {
    display: inline-block;
    width: 100%;
    margin-bottom: 2rem;
  }

  &__input--left {
    width: 47.5%;
    margin-right: 2.5%;
  }

  &__input--right {
    width: 47.5%;
    margin-left: 2.5%;
  }

  &__input--small {
    margin: 0;

    input {
      // padding: 0.7rem 1.3rem 0.7rem;
      text-align: right;
    }
  }

  &__footer {
    margin-top: 10rem;
  }
}
