.form {
  &__fieldset {
    margin: 0 0 4rem;
  }

  &__legend {
    margin: 0 0 2rem;

    &__title {
      margin: 0 0 0 -0.1rem;
    }

    &__subtitle {
      margin: 1rem 0 0;
    }
  }

  &__signup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include breakpoint(mobile) {
      flex-direction: column;
      align-items: flex-start;
    }

    .ot-btn-link {
      margin: 0 0 0 1rem;
      @include breakpoint(mobile) {
        margin: 1rem 0 0 0;
      }
    }
  }

  &__inputs {
    width: 100%;
    // padding: 2rem 2.5rem 0.5rem;
    button + button {
      margin-left: 1rem;
    }

    .modal__body & {
      margin-top: -1.5rem;
    }
  }

  &__error {
    display: inline-block;
    width: 100%;
    margin-top: 1rem;

    &--top {
      margin: 0 0 2rem;
    }
  }

  &__input {
    display: block;
    // margin: 2rem 0;
    padding: 1.25rem 0;
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;

    &.switch {
      padding-bottom: 0.75rem;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &__input__wrapper {
    display: flex;
    align-items: center;

    .label {
      width: 15rem;
      flex-shrink: 0;
    }

    .input {
      position: relative;
      flex: 1;
      line-height: 1.5;

      &__wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

      &__success {
        display: inline-block;
        margin: 0 0.9rem 0 0;
      }

      &__icon {
        width: 1.8rem;
        height: 1.8rem;
        margin: 0 1rem 0 0;
      }
    }

    .input--button {
      text-align: right;
      flex-shrink: 0;
    }
  }

  &__input:last-child {
    .form__input__wrapper {
      border-bottom: 0;
    }
  }

  &__input__discount {
    span {
      display: block;
    }
    span + span {
      margin-top: 0.4rem;
    }
  }

  &__input__tender {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    span {
      display: block;
    }

    span.form__input__icon {
      width: 1.8rem;
      height: 1.8rem;
      margin: 0 1rem 0 0;
    }
  }

  &__input-with-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;

    &:last-child {
      border-bottom: 0;
    }

    .form__input {
      flex-grow: 1;
      border: 0;
      margin: 0 1rem 0 0;

      & + .input__success {
        margin: 0 1rem 0 0;
      }
    }

    .btn {
      display: block;
      flex-grow: 0;
      flex-shrink: 0;
      // margin: 0 0 0 1rem;
    }
  }

  &__footer {
    margin-top: 3rem;
  }

  &__message {
    margin-bottom: 3rem;

    &__content {
      padding: 1rem 1.5rem;
    }
  }

  &__submit {
    margin: 1.5rem 0 0;
    .btn + .btn {
      margin: 0 0 0 1rem;
    }
  }
}

input,
textarea,
select {
  width: 100%;
}

textarea {
  height: 5em;
}

label {
  position: relative;

  span.label {
    display: inline-block;
  }
}

label.checkbox {
  @include clearfix;
  position: relative;
  line-height: 1;
  cursor: pointer;

  input.checkbox__input {
    position: absolute;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
  }

  span.checkbox__custom {
    content: '';
    display: inline-block;
    position: relative;
    width: 1.9rem;
    height: 1.9rem;
    padding: 0;
    margin: 0 1rem 0 0;
    border-radius: 0.2rem;
  }

  span.checkbox__custom:before {
    content: '';
    position: absolute;
    width: 1.1rem;
    height: 0.6rem;
    background: transparent;
    top: 0.5rem;
    left: 0.4rem;
    border-width: 0.2rem;
    border-style: solid;
    border-top: none;
    border-right: none;
    transform: scale(1) rotate(-45deg);
    opacity: 0;
  }

  input.checkbox__input:checked + span.checkbox__custom:before {
    opacity: 1;
  }

  input.checkbox__input:disabled + span.checkbox__custom {
    opacity: 0.5;
  }

  input.checkbox__input:disabled + span.checkbox__custom:before {
    opacity: 0.5;
  }

  // input.checkbox__input:focus + span.checkbox__custom {
  //   background-color: $input-bg-color;
  // }

  // input.checkbox__input:focus + span.checkbox__custom:before {
  //   border-color: $input-focus-color;
  // }

  span.checkbox__desc {
    position: relative;
    padding: 0;
    top: -0.4rem;
    display: inline;
    line-height: 1.3;
  }
}

label.switch {
  @include clearfix;
  position: relative;
  line-height: 1;
  cursor: pointer;

  input.switch__input {
    position: absolute;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
  }

  span.switch__toggle {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    box-sizing: initial;
    position: relative;
    display: inline-block;
    outline: 0;
    width: 4rem;
    height: 2rem;
    border-radius: 2rem;
    padding: 0.2rem;
    transition: all 0.15s ease;
  }

  span.switch__toggle:before {
    left: 0;
    position: relative;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    border-radius: 2rem;
    transition: all 0.15s ease;
  }

  input.switch__input:checked + span.switch__toggle:before {
    left: 50%;
  }
}

label.radio {
  position: relative;
  line-height: 1;
  cursor: pointer;

  input.radio__input {
    position: absolute;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
  }

  span.radio__custom {
    content: '';
    display: inline-block;
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
    padding: 0;
    border-radius: 100%;
    border-width: 0.2rem;
    border-style: solid;
    transition: all 0.15s ease;
  }

  input.radio__input:checked + span.radio__custom:before {
    content: '';
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 100%;
  }

  span.radio__desc {
    position: relative;
    padding: 0;
    top: -0.5rem;
  }
}

.form__input.-input {
  @include breakpoint(mobile) {
    // padding: 0 0 2.5rem;
    border: 0;
  }

  .form__input__wrapper {
    @include breakpoint(mobile) {
      flex-direction: column;
      align-items: flex-start;
    }

    .label {
      @include breakpoint(mobile) {
        width: 100%;
        margin: 0 0 0.75rem;
      }
    }

    .input {
      @include breakpoint(mobile) {
        width: 100%;
      }
    }
  }
}
