.gift-cards {
  &__section {
    margin: 0 0 $padding;

    &__header {
      margin: 0 0 1.25rem;

      &__title {
        margin: 0 0 0.5rem;
      }
    }
  }

  // &__inputs {
  //   margin: 1.25rem 0 0;
  // }

  &__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;
    // border-bottom-width: 0.1rem;
    // border-bottom-style: solid;

    // &:last-child {
    //   border-bottom: 0;
    // }

    &__amount {
      width: 12rem;
      margin: 0 1rem 0 0;
    }

    &__email {
      flex-grow: 1;
      margin: 0 0 0 1rem;
    }
  }

  &__add-another {
    padding: 1.25rem 0;
  }

  &__submit {
    margin: $padding 0 0;
  }

  &__table {
    margin: 0 0 $padding;
  }
}
