.header {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  width: $width;
  max-width: 100%;
  height: $nav-height;
  @include breakpoint(mobile_both) {
    height: $nav-height-mobile;
  }

  .main--menu & {
    width: 100%;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $nav-height;
    @include breakpoint(mobile_both) {
      height: $nav-height-mobile;
    }
  }

  &__logo {
    position: relative;
    top: 0.3rem;
    display: inline-block;
    max-width: 14rem;
    margin: 0rem 3rem 0 0;
    margin-left: 1.6rem;
    @include breakpoint(mobile_both) {
      margin-left: 1.3rem;
    }
  }

  &__nav {
    margin-left: -1.6rem;
    @include breakpoint(mobile_both) {
      margin-left: -1.3rem;
    }

    button {
      margin: -0.2rem 0 0;
      @include breakpoint(mobile_both) {
        margin: 0;
      }
    }
  }

  &__stuck {
    // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-bottom: 0.1rem solid #efefef;
  }

  &__actions {
    margin-right: -1.1rem;
    @include breakpoint(mobile_both) {
      margin-right: -1.3rem;
    }

    button {
      margin: 0 0 0 1rem;
      &:first-child {
        margin: 0;
      }
    }
  }
}
