.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: $nav-height;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $nav-height;
  }

  &__logo {
    position: relative;
    top: 0.3rem;
    display: inline-block;
    max-width: 15rem;
    margin: 0rem 3rem 0 0;
  }

  &__nav {
    button {
      margin: -0.2rem 0 0;
      @include breakpoint(mobile_both) {
        margin: 0;
      }
    }
  }

  &__stuck {
    // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-bottom: 0.1rem solid #efefef;
  }

  &__actions {
    button {
      margin: 0 0 0 1rem;
      &:first-child {
        margin: 0;
      }
    }
  }
}
