.hero {
  width: 100%;
  min-height: $hero-height;
  padding: 0 $padding;
  display: flex;
  justify-content: center;
  align-items: center;
  @include breakpoint(mobile_both) {
    min-height: 0;
    padding: 0 $padding-mobile;
  }

  // &--top {
  //   margin: $nav-height 0 0;
  //   @include breakpoint(mobile_both) {
  //     margin: $nav-height-mobile 0 0;
  //   }
  // }

  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }

  &--auto {
    min-height: 45rem;
    height: auto;
    padding: 6rem 0;
  }

  &__loading {
    text-align: center;
    &__content {
      margin: 0 0 1.5rem;
    }
  }
}
