.hero {
  width: 100%;
  height: $hero-height;
  display: flex;
  justify-content: center;
  align-items: center;

  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }

  &--auto {
    min-height: 45rem;
    height: auto;
    padding: 6rem 0;
  }

  &__loading {
    text-align: center;
    &__content {
      margin: 0 0 1.5rem;
    }
  }
}
