.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }

  &--auto {
    height: auto;
    padding: 6rem 0;
  }
}

.greeting {
  width: 90%;
  max-width: 72rem;
  padding: 2.5rem 3rem 2.5rem;

  &__header {
    margin: 0 0 3rem;

    p {
      margin: 1.5rem 0 0;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__summary {
  }
}
