.locations {
  margin: 3.5rem 0 0;
}

.location {
  // margin: 0 0 2rem;
  // border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  &__image {
    height: 14rem;
  }

  &__content {
    padding: 2rem 2rem 2.5rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    & > * {
      display: block;
    }

    p {
      padding-top: 0.4rem;
    }
  }

  &__actions {
    a,
    button {
      display: block;
      width: 100%;
      text-align: left;
    }
  }

  &__action {
    display: flex;
    // justify-content: flex-start;
    align-items: center;
    margin: 1.5rem 0 0;
  }

  &__icon,
  &__arrow {
    position: relative;
    top: 0.1rem;
    width: 1.4rem;
    height: 1.5rem;
  }

  &__text {
    width: 100%;
    padding: 0 1rem;
  }

  &__order {
    margin-top: 2rem;

    &__message {
      line-height: 1.4;
      margin: -0.25rem 0 0;
    }

    &__message + button {
      margin-top: 1.75rem;
    }
  }
}

.location--card {
  margin: 0 0 2rem;
}

.location--hero {
  width: 90%;
  max-width: 40rem;
}
