.menu {
  margin: 0 0 10rem;
}

$header-height: 6rem;
$padding-x: 3rem;

.menu__category {
  padding-top: $header-height * 2;
  margin-top: -$header-height;
  // margin-bottom: 5rem;

  &.-child {
    padding-top: $header-height - 2rem;
    margin-top: 0;
  }
}

.menu__category__title {
  margin: 0 0 0.5rem -0.1rem;
}

// h2.menu__category__title {
//   font-size: 200%;
// }

// h3.menu__category__title {
//   font-size: 150%;
// }

.menu__items {
  margin: 0 (-$padding-x) 0 0;
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
  width: 20%;
  padding: 2.5rem $padding-x 0 0;

  button {
    cursor: pointer;
    width: 100%;
    text-align: left;
    background-color: transparent;
    opacity: 1;
    transition: all 0.15s ease;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
    }
  }
}

.menu__item__image {
  width: 100%;
  padding: 30%;
  margin-bottom: 1.4rem;
}

.menu__item__name {
  line-height: 1.3;
}

.menu__item__desc {
  margin: 0.5rem 0 0;
  line-height: 1.5;
}

.menu__item__price {
  margin: 0.5rem 0 0;
}
