.menu {
  margin: $padding 0 $padding;
}

.menu__category {
  padding: $padding 0 0;
  &.-child {
    padding: $padding-mobile 0 0;
  }

  &__header {
    margin: 0 0 1rem;
  }

  &__title {
    margin: 0 0 0 -0.1rem;
  }

  &__subtitle {
    margin: 1rem 0 0;
  }
}

.menu__items {
  // margin: 0 (-$padding) 0 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 $padding $padding;
  @include breakpoint(mobile_both) {
    padding: 0 0 $padding-mobile $padding-mobile;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}

.menu__item {
  position: relative;
  width: 20%;
  padding: $padding $padding 0 0;
  @include breakpoint(tablet_land) {
    width: 25%;
  }
  @include breakpoint(tablet) {
    width: 33.33333%;
  }
  @include breakpoint(mobile_both) {
    width: 24rem;
    flex-shrink: 0;
    padding: $padding-mobile $padding-mobile 0 0;
  }

  &__container {
    width: 100%;
    height: 100%;
    border-width: 0.1rem;
    border-style: solid;
  }

  button {
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: left;
    background-color: transparent;
    opacity: 1;
    transition: all 0.15s ease;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    padding: 30%;
  }

  &__count {
    position: absolute;
    z-index: 2;
    top: -1.2rem;
    right: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2.2em;
    height: 2.2em;
    border-radius: 1.1em;
    padding-bottom: 0.1rem;
    border-width: 0.2rem;
    border-style: solid;
  }

  &__overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__message {
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &__content {
    padding: 1.6rem 1.5rem 1.3rem;
  }

  &__name {
    line-height: 1.3;
    // @include breakpoint(mobile_both) {
    //   font-size: 1.4rem;
    // }
  }

  &__desc {
    margin: 0.5rem 0 0;
    line-height: 1.5;
    @include breakpoint(mobile_both) {
      display: none;
    }
  }

  &__details {
    margin: 0.5rem 0 0;
    line-height: 1.5;

    span {
      display: inline-block;
      margin: 0 1.5rem 0 0;
      &:last-child {
        margin-right: 0;
      }
    }

    span.menu__item__allergens,
    span.menu__item__tags {
      @include breakpoint(mobile_both) {
        display: none;
      }
    }
  }

  &.-sold-out {
    button {
      cursor: default;

      &:hover,
      &:active,
      &:focus {
        opacity: 1;
      }
    }

    .menu__item__content {
      opacity: 0.3;
    }
  }
}
