.modal-container {
  position: fixed;
  z-index: 101;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.modal-overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal {
  position: relative;
  width: 48rem;
  max-width: 90%;
  overflow: hidden;

  &__close {
    position: absolute;
    z-index: 1;
    top: 7px;
    right: 7px;
  }

  &__content {
    padding: 3.5rem 3.5rem 4rem;
    @include breakpoint(mobile) {
      padding: 2.5rem 2.5rem 3rem;
    }
  }

  &__image {
    height: 24rem;
  }

  &__header {
    margin-bottom: 2.5rem;
  }

  &__subtitle {
    margin-top: 1rem;
    line-height: 1.4;
  }

  &__body {
    &__section {
      margin: 0 0 $padding;
      &:last-child {
        margin: 0;
      }
    }
    &.-message {
      p {
        line-height: 1.4;
      }
      p + p {
        margin: 1rem 0 0;
      }
    }
  }

  &__footer {
    margin-top: 2rem;

    &__buttons {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;

      button {
        flex-shrink: 0;
        display: block;
        margin: 1rem 1rem 0 0;
        &:last-child {
          margin-right: 0;
        }
        // & + button {
        //   margin-left: 1rem;
        // }
      }
    }
  }

  &__note {
    margin-bottom: 3rem;
    p {
      line-height: 1.2;
    }
  }

  &__submitting {
    display: inline-block;
  }
}

.modal--big {
  align-items: flex-start;
  .modal {
    margin: 2rem;
  }
}

.modal--wide {
  .modal {
    width: 90%;
    max-width: 64rem;
  }
}

.modal--item {
  // align-items: flex-start;
  .modal {
    width: 90%;
    max-width: 64rem;
    height: 90%;
    @include breakpoint(mobile_both) {
      width: 100%;
      max-width: 100%;
      height: 100%;
    }

    &__content {
      padding: 0;
      height: 100%;
      overflow: hidden;
    }
  }
}

.modal--datepicker {
  .modal {
    .modal__header__buttons {
      margin: 1.5rem 0 0;
      button + button {
        margin-left: 1rem;
      }
    }
    // .modal__header {
    //   margin-bottom: 2rem;
    // }
    .modal__body {
      .datepicker-inline {
        margin-top: 1.5rem;
        @include breakpoint(mobile_both) {
          font-size: 1rem;
        }
      }
      .form__submit {
        button {
          margin: 1rem 1rem 0 0;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.modal--cart-errors {
  .modal {
    width: 90%;
    max-width: 60rem;
  }
}

.modal--working {
  .modal {
    width: auto;
    min-width: 24rem;
    padding: 0;
  }

  .modal__content {
    padding: 2.5rem;
  }

  .modal__working {
    text-align: center;
    &__content {
      margin-bottom: 1.5rem;
    }
    &__loader {
      display: inline-block;
    }
  }
}

.modal--allergens {
  .modal {
    width: 90%;
    max-width: 40rem;
  }

  .modal__body {
    .form__input {
      padding: 1rem 0 0.4rem;
    }
  }
}
