.notifications {
  position: fixed;
  z-index: 15;
  bottom: 12rem;
  right: $padding;
  @include breakpoint(mobile_both) {
    right: auto;
    left: $padding-mobile;
    bottom: $nav-height-mobile + 2rem;
  }
}

.notification {
  display: block;
  float: right;
  clear: right;
  margin: 1.5rem 0 0;
  line-height: 1.2;
  padding: 0.8rem 1.6rem;
  transition: all 500ms ease;
  border-radius: 0.5rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

.flash-enter {
  opacity: 0;
  transform: translateY(20%);
}

.flash-enter-active {
  opacity: 1;
  transform: translateY(0);
  // transition: all 500ms ease;
}

.flash-exit {
  opacity: 1;
  transform: translateY(0);
}

.flash-exit-active {
  opacity: 0;
  transform: translateY(-20%);
  // transition: all 500ms ease;
}
