.notifications {
  position: fixed;
  z-index: 15;
  right: 4rem;
}

.notification {
  display: block;
  float: right;
  clear: right;
  margin: 1.5rem 0 0;
  line-height: 1.2;
  padding: 0.8rem 1.6rem;
  transition: all 500ms ease;
}

.flash-enter {
  opacity: 0;
  transform: translateY(-20%);
}

.flash-enter-active {
  opacity: 1;
  transform: translateY(0);
  // transition: all 500ms ease;
}

.flash-exit {
  opacity: 1;
  transform: translateY(0);
}

.flash-exit-active {
  opacity: 0;
  transform: translateY(20%);
  // transition: all 500ms ease;
}
