.order-time {
  padding: 1rem 0;
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__time {
    p {
      line-height: 1.4;
    }

    + .btn {
      width: 9rem;
      flex-shrink: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
