$image-size: 4.5rem;

.order {
  position: relative;
  height: 100%;
  padding: 2rem 2rem;
  border: 0.1rem solid #f3f3f3;
  // border-width: 0.1rem;
  // border-style: solid;

  &__title {
    margin: 0.4rem 0 0;
  }

  &__content {
    margin: 1rem 0 1.5rem;
  }

  &__details {
    line-height: 1.7;
  }

  &__items {
    margin: 1.5rem 0 0;
  }

  &__images {
    display: flex;
    justify-content: flex-start;
    align-items: top;
    margin: 0 0 1rem;
  }

  &__image {
    width: $image-size;
    height: $image-size;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      height: $image-size;
      width: auto;
      max-width: none;
    }
  }

  &__footer {
    // position: absolute;
    // bottom: 2rem;
    // left: 2rem;
    // right: 2rem;

    button + button {
      margin: 0 0 0 0.5rem;
    }
  }
}
