.order {
  &__header {
    text-align: center;
  }

  &__buttons {
    margin: 2rem 0 2rem;

    button + button {
      margin-left: 1rem;
    }
  }

  &__loading,
  &__error {
    margin-top: 1.5rem;
  }

  &__error__message {
    p {
      margin: 1.5rem 0;
    }
  }

  .section__header {
    margin-bottom: 2.5rem;
  }

  .builder__option {
    padding: 1.5rem 0;
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;
  }

  .cart li:last-child .builder__option {
    border-bottom: 0;
  }

  &__stars {
    display: flex;
    margin: 0.25rem 0 0.5rem;
    span {
      display: block;
      margin: 0 0.5rem 0 0;
      width: 2rem;
      height: 2rem;
    }
  }

  &__quantity {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 10rem;
    text-align: center;

    &__count {
      display: inline-block;
      width: $quantity-size;
      height: $quantity-size;
      line-height: $quantity-size;
      border-radius: $quantity-size / 2;
      padding: 0;
      text-align: center;

      & + .favorite {
        margin: 0 0 0 1.25rem;
      }
    }
  }
}
