.order {
  margin: 0 0 4rem;

  &__container {
    max-width: 76.8rem;
    // padding: 4rem 0;
    margin: 0 auto;
  }

  &__wrapper {
    padding: 0.1rem 0;
  }

  &__header {
    margin: 4rem 0 0;

    h1 {
      line-height: 1;
      margin: 1rem 0 0;
    }
  }

  &__buttons {
    margin: 2rem 0 0;

    button + button {
      margin-left: 1rem;
    }
  }

  &__loading,
  &__error {
    margin-top: 1.5rem;
  }

  &__error__message {
    p {
      margin: 1.5rem 0;
    }
  }

  .section {
    padding: 4rem 0 0;
  }

  .section__header {
    margin-bottom: 2.5rem;
  }

  .section__footer {
    margin: 4rem 0;
  }

  .section__check {
    padding: 1rem;
    border-width: 0.1rem;
    border-style: solid;
    @include breakpoint(mobile) {
      padding: 0;
    }
  }

  &__stars {
    display: flex;
    margin: 0.25rem 0 0.5rem;
    span {
      display: block;
      margin: 0 0.5rem 0 0;
      width: 2rem;
      height: 2rem;
    }
  }

  &__quantity {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 10rem;
    text-align: center;
    @include breakpoint(mobile_both) {
      min-width: 7.5rem;
    }

    &__count {
      display: inline-block;

      & + .favorite {
        margin: 0 0 0 1.25rem;
      }
    }
  }
}
