.quantity {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 9.2rem;
  min-height: 4rem;
  border-radius: 2rem;
  text-align: center;

  label {
    display: block;
  }

  button {
    transition: none;
    &:disabled {
      opacity: 0.25;
    }
  }

  input[type='number'],
  input[type='text'],
  &__increase__zero {
    width: 2.4rem;
    height: 2.4rem;
    padding: 0 0 0.2rem;
    border-radius: 1.2rem;
    text-align: center;
    font-weight: bold;
  }

  &__increase__zero {
    display: block;
    padding: 0.4rem;
    border-width: 0.2rem;
    border-style: solid;
    line-height: 1;
  }

  &__increase,
  &__decrease {
    width: 3.2rem;
    height: 3.2rem;
    padding: 0.8rem;
  }

  &__increase {
    margin-right: 0.2rem;
  }

  &__decrease {
    margin-left: 0.2rem;
  }
}
