html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: sans-serif;
  min-height: 100%;
}

// @media only screen and (min-width: $bp-mobile-land + 1px) and (max-width: $bp-tablet-land) {
//   html {
//     font-size: 56.25%;
//   }
// }

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
legend {
  margin: 0;
  padding: 0;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

input,
textarea,
select {
  -webkit-appearance: none;
  // outline: 0;
}

input[type='search'] {
  -webkit-appearance: none;

  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='submit'] {
  width: auto;
  cursor: pointer;
}

select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
  appearance: none;
  background: transparent;
  border: none;
  padding: 0;
}

button:disabled {
  cursor: default;
}

button > * {
  pointer-events: none;
}
