.sections {
  min-height: 100vh;
  padding: 0 0 10rem;
}

.section {
  padding: 6rem 0 0;

  &__header,
  &__footer {
    max-width: 96rem;
    margin: 0 auto;
    text-align: center;
  }

  &__header__back {
    margin: 4rem 0 0;
  }

  &__footer {
    margin-top: 2.5rem;
  }

  &__title {
    margin: 0 0 0 -0.1rem;
  }

  &__subtitle {
    margin: 0.5rem 0 0;
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 0;

    &__loader {
      & + * {
        margin-top: 1rem;
      }
    }
  }

  &__error {
    text-align: center;
    padding: 0 0 4rem;
  }

  &__content {
    max-width: 64rem;
    margin: 0 auto;

    &.-wide {
      max-width: 96rem;
    }

    &.-narrow {
      max-width: 32rem;
    }
  }

  &__empty {
    text-align: center;
  }

  &__orders {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
  }

  &__order {
    width: 33.33333%;
    flex-shrink: 0;
    padding: 0 1rem;
    margin: 0 0 2rem;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
  }

  &__item {
    width: 25%;
    flex-shrink: 0;
    padding: 0 0.5rem;
    margin: 0 0 1rem;
  }

  &__intro {
    text-align: center;
    padding: 2.5rem 0 0rem;
  }

  &__rows {
    padding: 1rem 2rem;
  }

  &__row {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;

    &:last-child {
      border: 0;
    }

    &__label {
      width: 15rem;
      flex-shrink: 0;
    }

    &__content {
      flex: 1;
      line-height: 1.5;
    }

    &__relative {
      position: relative;
    }

    &__default {
      position: absolute;
      top: 0;
      left: -2.5rem;
      // display: inline-block;
      // margin: 0 0 0 0.7rem;
      // width: 1.4rem;
      // height: 1.4rem;
    }

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__content {
        flex: 1;
      }

      &__buttons {
        flex-shrink: 0;
        // flex: 0 0;
      }
    }
  }

  &__rows--allergens {
    .form__input {
      padding: 1.3rem 0 0.65rem;
    }

    .input {
      text-align: right;
      .switch__toggle {
        display: inline-block;
      }
    }
  }

  &__submit {
    text-align: center;
    padding: 0 0 2.5rem;
  }
}
