.sections {
  padding: 0 0 10rem;
}

.section {
  &__header {
    margin: 0 0 4rem;
    text-align: center;
  }

  &__title {
    margin: 0 0 0.5rem -0.1rem;
  }

  &__loading {
    width: 100%;
    padding: 0;
    text-align: center;

    &__loader {
      display: inline-block;

      & + * {
        margin-top: 1rem;
      }
    }
  }

  &__error {
    text-align: center;
    padding: 3rem 0;
  }

  &__content {
    max-width: 64rem;
    margin: 0 auto;

    &.-wide {
      max-width: 96rem;
    }

    &.-narrow {
      max-width: 32rem;
    }
  }

  &__items {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -1rem;
  }

  &__item {
    width: 33.33333%;
    flex-shrink: 0;
    padding: 0 1rem;
    margin: 0 0 2rem;
  }

  &__intro {
    text-align: center;
    padding: 2.5rem 0 0rem;
  }

  &__rows {
    padding: 1rem 2rem;
  }

  &__row {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;

    &:last-child {
      border: 0;
    }

    &__label {
      width: 15rem;
      flex-shrink: 0;
    }

    &__content {
      flex: 1;
      // padding: 0 1.75rem;
      // line-height: 1.6;
    }
  }

  &__rows--allergens {
    .section__row__content {
      text-align: right;
      label {
        display: inline-block;
      }
    }
  }

  &__submit {
    text-align: center;
    padding: 0 0 2.5rem;
  }
}
