.sections {
  min-height: 100vh;
  padding: 0 0 10rem;
}

.section {
  padding: 6rem 0 0;

  .content__header + & {
    padding: 0 0 6rem;
  }

  &__header,
  &__footer {
    // max-width: 96rem;
    margin: 0 auto;
    // text-align: center;
  }

  &__header__back {
    margin: 4rem 0 0;
  }

  &__footer {
    margin-top: 2.5rem;
  }

  &__title {
    margin: 0 0 0 -0.1rem;
  }

  &__subtitle {
    margin: 0.5rem 0 0;
    line-height: 1.5;
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 0;

    &__loader {
      & + * {
        margin-top: 1rem;
      }
    }
  }

  &__error {
    // text-align: center;
    padding: 0 0 4rem;
  }

  &__content {
    // max-width: 64rem;
    margin: 0 auto;

    .form {
      margin: -1.25rem 0 0;
      @include breakpoint(mobile) {
        margin: 0;
      }
    }
  }

  &__orders {
    display: flex;
    flex-wrap: wrap;
    // margin: 0 -1rem;
    margin: 0 -0.5rem;
  }

  &__order {
    width: 33.33333%;
    flex-shrink: 0;
    // padding: 0 1rem;
    // margin: 0 0 2rem;
    padding: 0 0.5rem;
    margin: 0 0 1rem;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
    @include breakpoint(mobile_both) {
      margin: -1rem (-$padding-mobile) 0;
      padding: 1rem 0 0;
      flex-wrap: nowrap;
      overflow-x: scroll;
    }
  }

  &__item {
    // width: 25%;
    width: 33.33333%;
    flex-shrink: 0;
    padding: 0 0.5rem;
    margin: 0 0 1rem;
    @include breakpoint(mobile_both) {
      width: 28rem;
      flex-shrink: 0;
    }
    &:first-child {
      @include breakpoint(mobile_both) {
        padding-left: $padding-mobile;
      }
    }
    &:last-child {
      @include breakpoint(mobile_both) {
        padding-right: $padding-mobile;
      }
    }
  }

  &__intro {
    padding: 2.5rem 0 0rem;
  }

  &__row {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;

    &:last-child {
      border: 0;
    }

    &__label {
      width: 15rem;
      flex-shrink: 0;
      @include breakpoint(mobile_both) {
        width: 10rem;
      }
    }

    &__content {
      flex: 1;
      line-height: 1.5;
    }

    &__relative {
      position: relative;
    }

    &__default {
      position: absolute;
      top: 0;
      left: -2.5rem;
      // display: inline-block;
      // margin: 0 0 0 0.7rem;
      // width: 1.4rem;
      // height: 1.4rem;
    }

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include breakpoint(mobile) {
        flex-direction: column;
        align-items: flex-start;
      }

      &__content {
        flex: 1;
      }

      &__buttons {
        flex-shrink: 0;
        @include breakpoint(mobile) {
          margin: 1rem 0 0;
        }
      }
    }
  }

  &__rows--allergens {
    .form__input {
      padding: 1.3rem 0 0.65rem;
    }

    .input {
      text-align: right;
      .switch__toggle {
        display: inline-block;
      }
    }
  }

  &__submit {
    padding: 1.25rem 0 0;
  }
}
