.signup {
  padding-top: 0;

  &__form {
    padding: 1rem 2rem 2rem;
  }

  .section__header {
    max-width: 64rem;
    margin: 0 auto 5rem;
  }

  .form__error--top {
    margin: 1rem 0 0.5rem;
  }

  .form__submit {
    text-align: center;
  }

  .section__footer {
    margin-top: 5rem;
  }
}
