.sticky {
  width: 100%;
  height: $nav-height;
  @include breakpoint(mobile_both) {
    height: $nav-height-mobile;
  }

  &__inner {
    width: 100%;
    overflow-x: scroll;

    .ot-stuck & {
      position: fixed;
      z-index: 10;
      top: $nav-height;
      left: 0;
      right: 0;
      @include breakpoint(mobile_both) {
        top: $nav-height-mobile;
      }
    }

    .main--account & {
      @include breakpoint(mobile_both) {
        position: fixed;
        z-index: 10;
        top: $nav-height-mobile;
        left: 0;
        right: 0;
        height: $nav-height-mobile;
      }
    }

    .main--account .ot-stuck & {
      left: auto;
      width: 100%;
      max-width: $width;
    }
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include breakpoint(mobile) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__items {
    // width: 100%;
    transition: all 500ms ease;

    ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: $nav-height;
      @include breakpoint(mobile_both) {
        height: $nav-height-mobile;
      }

      li {
        display: block;
        flex-shrink: 0;
        padding: 0 0 0 $padding;
        @include breakpoint(mobile_both) {
          padding-left: $padding-mobile;
        }

        &:last-child {
          padding-right: $padding;
          @include breakpoint(mobile_both) {
            padding-right: $padding-mobile;
          }
        }

        a {
          cursor: pointer;
        }
      }
    }
  }

  &__filter {
    height: 100%;
    flex: 0 0;
    padding: 0 0 0 $padding;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include breakpoint(mobile) {
      width: 100%;
      min-height: $nav-height-mobile;
      padding: 0;
      justify-content: center;
    }

    &__logo {
      min-width: 4rem;
      padding: 0;
      margin: 0 2rem 0 0;

      img {
        width: auto;
        max-width: none;
        height: $nav-height - 2rem;
      }
    }

    &__name {
      display: block;
    }
  }
}
