.sticky {
  width: 100%;
  height: $nav-height;

  &__inner {
    width: 100%;
    overflow-x: scroll;

    .ot-stuck & {
      position: fixed;
      z-index: 10;
      top: $nav-height;
      left: 0;
      right: 0;
      // border-width: 0.1rem;
      // border-style: solid;
      // border-top: 0;
      // border-left: 0;
      // border-right: 0;
    }
  }

  &__container {
    position: relative;
    width: 100%;
  }

  &__items {
    width: 100%;
    transition: all 500ms ease;

    ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: $nav-height;
      padding-bottom: 0.3rem;

      li {
        display: block;
        flex-shrink: 0;
        padding: 0 0 0 $padding;
        @include breakpoint(mobile_both) {
          padding-left: $padding-mobile;
        }

        a {
          cursor: pointer;
        }
      }
    }
  }
}
