/*
toggle styles copied and modified from
https://codepen.io/mallendeo/pen/eLIiG
by Mauricio Allende (https://mallendeo.com/)
 */
.toggle-btn {
  cursor: pointer;
  user-select: none;
  box-sizing: initial;
  position: relative;
  display: inline-block;
  outline: 0;
  width: 4rem;
  height: 2rem;
  border-radius: 2rem;
  padding: 0.2rem;
  // transition: all 0.4s ease;
  // border: 2px solid #e8eae9;
}

.toggle-btn-tick {
  left: 0;
  position: relative;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  border-radius: 2rem;
  // transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
  //   padding 0.3s ease, margin 0.3s ease;
  // box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}

.toggle-btn:focus .toggle-btn-tick,
.toggle-btn:active .toggle-btn-tick {
  // box-sizing: initial;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
  // border: 0.1rem solid #000;
}

.toggle-btn.toggle-btn-on .toggle-btn-tick {
  left: 50%;
}

.toggle-btn.toggle-btn-on:active {
  box-shadow: none;
}

.toggle-btn.toggle-btn-on:active::after {
  margin-left: -1.6em;
}

.toggle-btn:active::after {
  padding-right: 1.6em;
}

.toggle-input {
  display: none;
}
