$transition-duration: 0.25s;
$transition-duration-short: 0.125s;
$transition-duration-medium: 0.5s;
$transition-duration-long: 1s;
$transition-easing: ease-in-out;
$transition: $transition-duration $transition-easing;

.transition {
  transition: $transition;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-up {
  opacity: 0;
  animation: slide-up $transition-duration $transition-easing
    $transition-duration-short forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fade-in $transition-duration $transition-easing
    $transition-duration-short forwards;
}

/* modals */

$modal-speed: 250ms;

.md-enter,
.md-exit.md-exit-active {
  transition: all $modal-speed ease;
  opacity: 0;
  visibility: hidden;

  .modal {
    transition: all $modal-speed ease;
    transform: translateY(10%);
  }
}

.md-enter.md-enter-active,
.md-exit {
  opacity: 1;
  visibility: visible;

  .modal {
    transform: translateY(0);
  }
}

/* reveal */

$reveal-speed: 250ms;

.reveal-enter,
.reveal-exit.reveal-exit-active {
  transition: all $reveal-speed ease;
  opacity: 0;
  visibility: hidden;
}

.reveal-enter.reveal-enter-active,
.reveal-exit {
  opacity: 1;
  visibility: visible;
}

/* slide-in-from-right */

$slide-in-from-right-speed: 250ms;

.slide-in-from-right-enter,
.slide-in-from-right-exit.slide-in-from-right-exit-active {
  transition: all $slide-in-from-right-speed ease;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-25%);
}

.slide-in-from-right-enter.slide-in-from-right-enter-active,
.slide-in-from-right-exit {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

/* alerts */

$fade-up-speed: 500ms;

.fade-up-enter {
  opacity: 0;
  // @include translate3d(0, 2%, 0);
  transform: translate3d(0, 2%, 0);
}

.fade-up-enter.fade-up-enter-active {
  opacity: 1;
  // @include translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all $fade-up-speed ease;
}

.fade-up-exit {
  opacity: 1;
  // @include translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.fade-up-exit.fade-up-exit-active {
  opacity: 0;
  // @include translate3d(0, 2%, 0);
  transform: translate3d(0, 2%, 0);
  transition: all $fade-up-speed ease;
}
