$transition-duration: 0.25s;
$transition-duration-short: 0.125s;
$transition-duration-medium: 0.5s;
$transition-duration-long: 1s;
$transition-easing: ease-in-out;
$transition: $transition-duration $transition-easing;

.transition {
  transition: $transition;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-up {
  opacity: 0;
  animation: slide-up $transition-duration $transition-easing
    $transition-duration-short forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

$fade-up-speed: 500ms;

.fade-up-enter {
  opacity: 0;
  // @include translate3d(0, 2%, 0);
  transform: translate3d(0, 2%, 0);
}

.fade-up-enter.fade-up-enter-active {
  opacity: 1;
  // @include translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all $fade-up-speed ease;
}

.fade-up-exit {
  opacity: 1;
  // @include translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.fade-up-exit.fade-up-exit-active {
  opacity: 0;
  // @include translate3d(0, 2%, 0);
  transform: translate3d(0, 2%, 0);
  transition: all $fade-up-speed ease;
}
