.validate {
  margin: 3rem 0 0;

  &__missing,
  &__invalid {
    margin: 0 0 3rem;

    ul {
      list-style: disc inside;
      margin: 1.5rem 0 0;
      li {
        margin: 1rem 0;
        span.validate__invalid__item {
          position: relative;
          left: -0.5rem;
        }
      }
    }
  }

  &__buttons {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    button {
      display: block;
      & + button {
        margin-left: 1rem;
      }
    }

    .btn--back {
      padding: 0.5em 1.8em 0.6em 1.2em;

      .btn-icon {
        top: 0rem;
        margin-right: 0.5rem;
        width: 2.1rem;
        height: 2.1rem;
      }
    }

    .btn--proceed {
      padding: 0.5em 1.2em 0.6em 1.8em;

      .btn-icon {
        top: 0rem;
        margin-left: 0.5rem;
        width: 2.1rem;
        height: 2.1rem;
      }
    }
  }
}
