@import './src/sass/_reset';
@import './src/sass/_mixins';
@import './src/sass/_vars';
@import './src/sass/_transitions';
@import './src/sass/_button';
@import './src/sass/_form';
@import './src/sass/_map';
@import './src/sass/_hero';
@import './src/sass/_sticky';
@import './src/sass/_modal';
@import './src/sass/_sidebar';
@import './src/sass/_header';
@import './src/sass/_notification';
@import './src/sass/_footer';
@import './src/sass/_card';
@import './src/sass/_location';
@import './src/sass/_menu';
@import './src/sass/_quantity';
@import './src/sass/_nutrition';
@import './src/sass/_builder';
@import './src/sass/_cart';
@import './src/sass/_validate';
@import './src/sass/_checkout';
@import './src/sass/_check';
@import './src/sass/_cards';
@import './src/sass/_content';
@import './src/sass/_sections';
@import './src/sass/_order-card';
@import './src/sass/_order';
@import './src/sass/_favorite';
@import './src/sass/_greeting';
@import './src/sass/_loyalty';
@import './src/sass/_progress';

body {
  // margin: 0;
  // min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.has-modal {
  height: 100%;
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.app {
  padding: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  pointer-events: none;
}

.main {
  // padding: 0;
  min-height: 100vh;
}

.loading {
  width: 100%;
  padding: 3rem;
  text-align: center;
}

.loading__loader {
  display: inline-block;

  & + * {
    margin-top: 1rem;
  }
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // background-color: transparent;
}

.background {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.align-right {
  text-align: right;
}

.preface {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.tag {
  display: inline-block;
  @extend .preface;
  padding: 0.5rem 1rem 0.6rem;
  border-radius: 1.5rem;
  line-height: 1;

  .tag-sibling + & {
    margin-left: 1rem;
  }

  &__container {
    display: flex;
    align-items: center;
    line-height: 1;
    span {
      display: inline-block;
      padding: 0.1rem 0 0;

      &.tag__icon {
        width: 1.2rem;
        height: 1.2rem;
        padding: 0;
        margin-right: 0.5rem;
      }
    }
  }
}
