@import './src/sass/_reset';
@import './src/sass/_mixins';
@import './src/sass/_vars';
@import './src/sass/_transitions';
@import './src/sass/_button';
@import './src/sass/_sticky';
@import './src/sass/_modal';
@import './src/sass/_sidebar';
@import './src/sass/_header';
@import './src/sass/_footer';
@import './src/sass/_cart-button';
@import './src/sass/_card';
@import './src/sass/_location';
@import './src/sass/_menu';
@import './src/sass/_quantity';
@import './src/sass/_nutrition';
@import './src/sass/_builder';

body {
  // margin: 0;
  // min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.has-modal {
  height: 100%;
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.app {
  padding: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  pointer-events: none;
}

.main {
  padding: $header-height 0 0;
  min-height: 100vh;
}

.content {
  padding: $header-height;
}

.loading {
  width: 100%;
  padding: 3rem;
  text-align: center;
}

.loading__loader {
  display: inline-block;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // background-color: transparent;
}

.background {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero--left {
  justify-content: flex-start;
}

.hero--right {
  justify-content: flex-end;
}

.preface {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
